<div style="background-color:cadetblue;padding-bottom: 100px;">
    <h2>Access My Plan</h2><hr>
    <form #loginForm="ngForm" (ngSubmit)="handleFormValues(loginForm.value)" style="margin-left: 500px;background-color: lightslategray; margin-right: 500px; padding: 50px;">
        <h1 style="padding-bottom: 30px;">Login</h1>
        <label>
            Enter UserId : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="userId" [(ngModel)]="userId"
            #ui ="ngModel" required autocomplete="off">
            <span style="color:red" [hidden]="ui.valid || ui.pristine">UserId is mandotory</span>
        </label>
        <br>
        <br>
        <label>
            Enter Password : <input type="password" name="password" [(ngModel)]="password"
            #pw ="ngModel" required>
        </label>
        <span style="color:red" [hidden]="pw.valid || pw.pristine">Password is mandotory</span>
        <br>
        <input type="submit" value="Submit" [disabled] = "loginForm.invalid" style=" margin-top: 20px;">
    </form>
</div>
